.image {
	img{
		width: 100%;
	}
}

.hero {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	.inner {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
	}
}

.feature {
	text-align: center;
	padding: 20px;
	margin: 10px;
	* {
		color: $primary;
		font-size: 1.8em;
		font-weight: 400;
	}
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  .cell {
    display: inline-block;
    &.qtr {
      flex: 1 0 25%;
      @include tablet {flex: 1 0 50%};
      @include phone {flex: 1 0 100%};
    }
    &.third {
      flex: 1 0 33.33%;
      @include tablet {flex: 1 0 50%};
      @include phone {flex: 1 0 100%};
    }
    &.half {
      flex: 1 0 50%;
      @include phone {flex: 1 0 100%};
    }
    &.three-qtr {
      flex: 1 0 75%;
      @include phone {flex: 1 0 75%};
    }
  }
}