.page-hero {
	background-image: url('/images/background.jpg');

	.title {
		max-width: 500px;
		margin: 10px auto;
		.image {
			max-width: 250px;
			margin: auto;
		}

		.subheading {
			border: 1px solid white;
			border-left: 0;
			border-right: 0;
			padding: 15px;
			color: white;
		}
		#social-links {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			a {
				font-size: 2em;
				color: white;
				&:hover {
					color: $primary;
				}
			}
		}
	}
}