---
title: Maya Graphics
---

<div class="hero page-hero">
	<div class="inner">
		<div class="title">
			<div class="image"><%= image_tag "/images/logoW.png" %></div>
			<h1 class="subheading medium">Coos Bay's comprehensive graphics and design company. Specializing in print, sign, and vinyl graphics.</h1>
			<div id="social-links">
				<a href="http://www.facebook.com/sharer.php?u=http://www.mayagfx.com" target="_blank"><i class="fa fa-facebook-square"></i></a>
				<a href="http://twitter.com/share?url=http://www.mayagfx.com&hashtags=CoosBay" target="_blank"><i class="fa fa-twitter-square"></i></a>
				<a href="https://plus.google.com/share?url=http://www.mayagfx.com" target="_blank"><i class="fa fa-google-plus-square"></i></a>
			</div>
		</div>
	</div>
</div>

<div class="feature">
	<h1 class="heading minor">Full service printing and graphic design in Coos Bay for 20 years.</h1>
</div>

<div class="grid">
	<div class="cell qtr">
		<div class="image"><%= image_tag "/images/pages.png" %></div>
		<h1 class="heading minor">Printing</h1>
		<p>Maya Graphics specializes in quality digital copies and printing services.  From business cards to posters we can print anything.  Our digital reproduction technology is cutting edge, ensuring the finest quality printing in a timely manner.</p>
	</div>
</div>